.notification {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 400px;
  .success {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  .reject {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  .block__description {
    .header {
      font-family: "Inter", sans-serif;
      line-height: 8px;
      font-weight: 600;
      font-size: 20px;
    }
    .description {
      font-family: "Inter", sans-serif;
      font-size: 14px;
      font-weight: 500;
      opacity: 0.5;
    }
    .blocksFirst {
      background-color: rgb(22, 153, 22);
      height: 2px;
      width: 100%;
      transition: width 1s linear;
    }
    .blocks {
      background-color: red;
      height: 2px;
      width: 100%;
      transition: width 1s linear;
    }

    .paused {
      transition: none;
    }
  }
}
